<div class="container">
    <header class="page-header">
        <h1>$title$</h1>
    </header>
    <article id="article"" class="panel panel-default">
        <header id="article-metadata" class="panel-heading">
            <span>
                $date$
                $if(author)$
                by $author$
                $endif$
            </span>
            $if(readingtime)$
            <span class="pull-right">est. reading time <span class="label label-info">$readingtime$ min</span></span>
            $endif$
        </header>

        $if(quote)$
        <section id="citation">
            <blockquote>
                <q>$quote$</q>
                $if(quote-author)$
                <footer>
                    - <cite>$quote-author$</cite>
                </footer>
                $endif$
            </blockquote>
        </section>
        $endif$

        <section id="article-content" class="panel-body">
            <link rel="stylesheet" type="text/css"
                  href="//rawgithub.com/jgm/highlighting-kate/master/css/hk-kate.css"/>
            $body$
            $if(mathjax)$
            <script type="text/javascript"
                    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
            </script>
            $endif$
        </section>

        <footer id="article-links" class="panel-footer">
            <span class="tags">
                $if(tags)$
                <i class="fa fa-tags"></i> $taglist$
                $endif$
            </span>

            <span id="source" class="pull-right hidden-phone">
                <i class="fa fa-file-code-o"></i>
                <a href="https://github.com/pxqr/pxqr.github.io/blob/source/$path$"
                   title="Source code for this article in $format$ format"
                   target="_blank">Source Code</a>
            </span>
        </footer>
    </article>

    <nav id="pager">
        <ul class="pager">
            $if(prev)$
            <li class="previous">
                <a href="/articles/$prev$.html" title="Go to $prev$">← Previous</a>
            </li>
            $endif$

            <li>
                <a rel="directory" href="/archive.html" title="Go to Archive">Back</a>
            </li>

            $if(next)$
            <li class="next">
                <a href="/articles/$next$.html" title="Go to $next$">Next →</a>
            </li>
            $endif$
        </ul>
    </nav>

    <footer id="actions" class="panel panel-default">
        <header class="panel-heading">
            <nav>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a role="tab" data-toggle="tab"
                           aria-controls="comments" href="#discussion">Discuss</a>
                    </li>
                    <li role="presentation">
                        <a role="tab" data-toggle="tab"
                           aria-controls="article-share-panel" href="#share">Share</a>
                    </li>
                    <li role="presentation">
                        <a role="tab" data-toggle="tab"
                           aria-controls="edit" href="#edit">Edit</a>
                    </li>
                </ul>
            </nav>
        </header>

        <section class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="discussion">
                    $partial("templates/article-discussion.html")$
                </div>
                <div role="tabpanel" class="tab-pane" id="share">
                    <span class="fa fa-share-alt"></span>
                </div>
                <div role="tabpanel" class="tab-pane" id="edit">
                    <span id="edit">
                        <span class="fa fa-code-fork"></span>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="Edit article">
                            Edit
                        </a>
                    </span>
                </div>
            </div>
        </section>
    </footer>
</div>
