<article>
  <h1>$title$</h1>
  <header>
    Posted on $date$
    $if(author)$
    by $author$
    $endif$
    |
    <a href="https://bitbucket.org/pxqr/blog/raw/master$url$">
      Source
    </a>

    $if(tags)$
    Tagged with:
    $taglist$
    $endif$
  </header>

  $if(toc)$
  <aside>
    <nav id="toc">
      <p>Contents</p>
      <ul>
        $for(headings)$
        <li>
          <a href="#$fragment$">$caption$</a>
        </li>
        $endfor$
      </ul>
    </nav>
  </aside>
  $endif$

  <section>
    <link rel="stylesheet" type="text/css"
          href="//rawgithub.com/jgm/highlighting-kate/master/css/hk-kate.css"/>
    $body$
  </div>

  <footer>
    <ul>
      $if(prev)$
      <li>
        <a href="/posts/$prev$.html" title="Go to $prev$">← Previous</a>
      </li>
      $endif$

      <li>
        <a rel="directory" href="/archive.html" title="Go to Archive">Back</a>
      </li>

      $if(next)$
      <li>
        <a href="/posts/$next$.html" title="Go to $next$">Next →</a>
      </li>
      $endif$
    </ul>
  </footer>

  $if(mathjax)$
  <script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  $endif$
</article>
