$if(description)$
$if(preview)$
<meta name="twitter:card" content="summary_large_image">
$else$
<meta name="twitter:card" content="summary">
$endif$

<meta name="twitter:site" content="@$handle$">
$if(twitterid)$
<meta name="twitter:creator" content="@$twitterid$">
$else$
<meta name="twitter:creator" content="@$handle$">
$endif$

<meta name="twitter:title" content="$title$">
<meta name="twitter:description" content="$description$">
$if(preview)$
<meta name="twitter:image" content="$root$$preview$">
$endif$
$endif$
